.admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    height: 100vh;
}

.MuiBox-root css-xn6ruc{
    display: flex;
    flex-direction: column;
}

