.admin-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 5%;
  .MuiGrid-root {
    width: 100%;
    .MuiFormControl-root {
      width: 100%;
    }
  }
  button {
    background-color: var(--color-primary);
    width: 50ex;
    &:hover {
      background-color: var(--color-primary);
    }
  }
.input-zone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.input-zone> * {
  margin: 2%;
}
}
.joazco--admin-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: white;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  .joazco--admin-navbar-left {
    display: flex;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(1) {
      }
      &:nth-child(2) {
        flex: 2;
        display: flex;
         h1 {
          font-size: 1.1rem;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .joazco--admin-navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    button {
      color: white;
    }
  }
}

.admin-table{
  margin-bottom: 2%;
  button{
    margin-bottom: 2%;
  }
}

.table-header{
  font: bold;
  color: red;
}
