.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  height: 100vh;
  .MuiGrid-root {
    width: 100%;
    .MuiFormControl-root {
      width: 100%;
    }
  }
  button {
    background-color: var(--color-primary);
    &:hover {
      background-color: var(--color-primary);
    }
  }
}
.joazco--admin-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: white;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  .joazco--admin-navbar-left {
    display: flex;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(1) {
      }
      &:nth-child(2) {
        flex: 2;
        display: flex;
        h1 {
          font-size: 1.1rem;
        }
      }
    }
  }
  .joazco--admin-navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    button {
      color: white;
    }
  }
}
