footer {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  a {
    color: var(--color-light);
    text-decoration: none;
  }
}
